/* Estilos gerais */
body, .app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
 
}

body{
   color: white;
  background-color: black;

}

/* Layout de carrossel e imagem */
.carousel img {
  display: flex;
  max-width: 100%;
  border-radius: 8px;
  border-color: white;
  height: 60px;
  
}

imagem{
  width: 120px; /* Define a largura da imagem */
  height: 160px;
}

.imagem:hover {
  transform: scale(1.1); /* Aumenta a imagem em 10% no hover */
  filter: brightness(80%); /* Escurece levemente a imagem */
}

/* Botões */
button {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  color: white;
  background-color: black;
}

/* Seção de Memórias */
section {
  margin: 20px 0;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

.rhap_container {
  background-color: black;
  border-radius: 10px;
}

.rhap_play-pause-button {
  color: #333;
}

.rhap_progress-bar {
  background-color: #f4a261;
}


/* Exemplo de personalização para o player */

/* Media Query para Telas Menores */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }

  section h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  /* Ajustando o botão para caber na tela */
  button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  /* Deixar o layout mais compacto */
  .app {
    padding: 10px;
  }
}

/* Media Query para Telas Bem Pequenas */
@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  section h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
    padding: 6px 10px;
  }
}
