/* Em App.css ou seu arquivo de estilo principal */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-slide img {
  border-radius: 10px; /* Adiciona bordas arredondadas às imagens */
}

.slick-dots li button:before {
  color: gray; /* Cor dos pontos de navegação */
}

.slick-dots li.slick-active button:before {
  color: black; /* Cor dos pontos ativos */
}



/* Estilos gerais */
body, .app {
 
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
 
}

body{
   color: #6B728E;
  background-color: #000000;
  font-family: 'Dancing Script', cursive;
  

}



button {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
   color: #6B728E;
  background-color: black;
}



.carousel-container {
   
  height: 450px;        
   margin: 0 auto;        
 
 }


/* Exemplo de personalização para o player */

/* Media Query para Telas Menores */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.8rem;
  }

  section h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  /* Ajustando o botão para caber na tela */
  button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  /* Deixar o layout mais compacto */
  .app {
    padding: 10px;
  }
}

/* Media Query para Telas Bem Pequenas */
@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  section h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
    padding: 6px 10px;
  }
}
